:root {
    --main-color: #1a2639;
    --secondary-color: #3e4a61;
    --third-color: #f5f7fa;
    --accent-color: #f23557;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.btn {
    font-weight: 600;
}

.navbar {
    background-color: var(--main-color);
    padding: 10px;
}

.navbar .navbar-toggler {
    background-color: #0e153a;
    height: 40px;
}

.navbar .navbar-toggler .fas {
    color: #e2f3f5 ;
}

.nav-item a{
    font-weight: 600;
}

.logo-container {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a{
    color: var(--third-color);
}

.nav-item a:first-child{
    margin-left: 30px;
}

.btn{
    background-color: var(--accent-color);
    color: var(--third-color);
}

.carousel-container{
    margin-top: 90px;
}

.carousel-item{
    object-fit: contain;
}

.carousel-inner .carousel-item img {
    max-height: 550px;
}

.row-to-center{
    justify-content: center;
}

.card-body {
    color: var(--secondary-color);
}

.whole-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.whole-container .cart-item-container {
    width: 90%;
    background-color: var(--third-color);
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px var(--main-color);
    max-width: 800px;
    color: var(--main-color);
    height: 120px;
}

.whole-container .cart-item-container .cart-item-data{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.whole-container .cart-item-container .cart-item-data img{
    width: 80px;
}

.whole-container .cart-item-container .cart-item-handler{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.whole-container .cart-item-container .cart-item-handler a{
    width: 40px;
    height: 40px;
    font-weight: bolder;
}

.checkout-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
